# Backend
.env
backend/poetry.lock
backend/test.py

__pycache__/

# Frontend 
frontend/package-lock.json
frontend/node_modules

# Output
frontend/.output
frontend/.vercel
frontend/.netlify
frontend/.wrangler
frontend/.svelte-kit
frontend/build

# OS
frontend/.DS_Store
frontend/Thumbs.db

# Env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
